
  <nav>
    <div class="container nav-wrapper">
      <a href="#" class="brand-logo">Register</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li><%= link_to "Classes", groups_path %></li>
        <li><%= link_to "New class", new_group_path %></li>
        <li><%= link_to "New Student", new_student_path %></li>
      </ul>
    </div>
  </nav>

